/*
	Theme Name: GLN_Lexicon-child
	Theme URI: http://html5blank.com
	Description: HTML5 Blank WordPress Theme
	Version: 1.4.3
	Author: Todd Motto (@toddmotto)
	Author URI: http://toddmotto.com
	Template: GLN_Lexicon
	Tags: Blank, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/


/* this Calibri font does not look correct*/

/*html, body, h1, h2, h3, h4, h5, h6 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}*/

/***** HEADER *****/

.header {
    padding: 48px 0 0 0;
    margin: 0 0 40px 0;
}

/* LOGO */

.logo h1 {
    display: inline-block;
    font-size: 4rem;
    float: left;
}

.logo h1:first-child {
  color: rgba(57,86,41,1);
  font-weight: 800;
  margin-left: 24px;
}

.logo h1:last-child {
  color: rgba(117,113,113,1);
}

/* MOBILE BURGER MENU */

#menuToggle
{
  display: none;
  position: relative;
  top: 100px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #1E7538;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #a69b8e;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 150vw;
    height: 150vh;
    margin: -200px 0px 0 -100px;
    padding: 285px 50px 50px 120px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

/* NAV BAR */

.nav {
    float: right;
    margin-top: 10px;
}

.nav ul li {
    display: inline-block !important;
}

.nav ul li a {
    font-size: 22px;
    padding: 0 22px;
    color: #55BB72;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav ul li a:hover
{
  color: #1E7538;
}

.nav ul li#menu-item-26 {
    background-color: rgba(182,149,111,1);
    border-radius: 30px;
    padding: 6px 3px;
}

.nav ul li#menu-item-26 a {
	color: #fff;
}

.nav ul li#menu-item-26 a:hover
{
  color: #1E7538;
}

#under-nav-1 {
	display: inline-block;
	float: right;
	text-align: center;
	clear: both !important;
}

#under-nav-1 #header-tel a {
	color: #A69B8E;
	font-weight: bold;
	font-size: 18px;
    line-height: 22px;
	text-align: center;
	text-decoration: none;
    transition: color 0.3s ease;
}

#under-nav-1 #header-tel a:hover {
	color: #1E7538;
}

#under-nav-1 #header-add a {
	color: #767272;
	font-size: 16px;
    line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
    transition: color 0.3s ease;
}

#under-nav-1 #header-add a:hover {
	color: #1E7538;
}












/***** FOOTER *****/

#footer {
	background-color: #1E7538;
	height: 80px;
}

nav.footer-nav {
    display: inline-block;
}

#footer .footer-nav ul#menu-footer li {
    display: inline-block;
    padding: 24px 0;
}

#footer .footer-nav ul#menu-footer li a {
    font-size: 19px;
    padding: 0px 22px;
    color: #fff;
    font-weight: bold;
}

#footer #footer-socials {
	float: right;
	padding: 20px 0;
	margin-right: 30px;
}

a img.footer-social-icon {
    padding: 0 15px;
}

img#footer-twitter {
    width: 70px;
}

img#footer-linkedin {
    width: 70px;
}




/* Home Page */


#home-row-1 {
	height: 507px;
}

#home-row-1 #home-row-1-left { 
	height: inherit;
    background-image: url(http://lexicon.lagosconsulting.com/wp-content/uploads/2020/01/Lexicon5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#home-row-1 #home-row-1-right { 
	height: inherit;
    background-image: url(http://lexicon.lagosconsulting.com/wp-content/uploads/2020/01/homepage_art.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

#home-row-1 #home-row-1-right h1 {
    font-weight: 600;
    font-size: 6rem;
    line-height: 78px;
    color: #FFFFFF;
    margin: 15px 0 0 15px;
}

#home-row-1 #home-row-1-right h1 span {
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: transparent;
}

#home-row-1-right-text {
    width: 75%;
    margin: 45px 0 0 15px;
}


#home-row-1-right-text p {
	font-size: 27px;
	line-height: 37px;
	color: #FFFFFF;
}

#home-row-1-right-btns {
    bottom: 60px;
    position: absolute;
}

#home-row-1-right a.btn {
    padding: 10px 30px;
    font-size: 27px;
    font-weight: 600;
    border-radius: 50px;
}

#home-row-1-right-btns :first-child {
    color: #1E7538;
    background-color: #fff;
    margin-left: 15px;
}


#home-row-1-right-btns :last-child {
	color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-left: 15px;
}

#home-row-2-title {
    padding: 30px 0;
}

#home-row-2-title h1 {
    color: #1E7538;
    font-weight: 600;
    font-size: 6rem;
    line-height: 78px;
    margin: 15px 0 30px 0;
}

#home-row-2-title p {
	font-size: 27px;
	line-height: 37px;
	color: #767272;
}


#home-row-2-title h1 span {
    -webkit-text-stroke: 2px #1E7538;
    -webkit-text-fill-color: transparent;
}

#home-row-2 {
	height: 656px;
}

#home-row-2 #home-row-2-left { 
	height: inherit;
    background-image: url(http://lexicon.lagosconsulting.com/wp-content/uploads/2020/01/Lexicon18-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#home-row-2 #home-row-2-right { 
	height: inherit;
    background-image: url(http://lexicon.lagosconsulting.com/wp-content/uploads/2020/01/Lexicon-LS-Logo_dfebe5_LG.jpg);
    background-repeat: no-repeat;
    background-position: right;
    margin-left: -50px;
    margin-top: -140px;
}

#home-row-2-right-text {
    width: 60%;
    padding-left: 100px;
    padding-top: 160px;

}



@media screen and (max-width: 1162px){
	

	#home-row-1-right-text {
	    margin: 30px 0 0 15px;
	}

	#home-row-1-right-text p {
		font-size: 24px;
	}

	#home-row-1-right-btns {
	    bottom: 35px;
	}

	#home-row-1-right a.btn {
	    padding: 5px 20px;
	    font-size: 24px;
	}

}


@media screen and (max-width: 958px){

	#home-row-1-right-text p {
		font-size: 21px;
	}

	#home-row-1-right-btns {
	    bottom: 35px;
	}

	#home-row-1-right a.btn {
	    padding: 4px 15px;
	    font-size: 21px;
	}

	#home-row-2 #home-row-2-right {
    	background-image: none;
	    margin-left: 0;
	    margin-top: 0;
	}

	#home-row-2-right-text {
	    width: 90%;
	    padding-left: 50px;
	    padding-top: 30px;
	}
}


@media screen and (max-width: 856px){

	#home-row-1-right-text {
	    width: 70%;
	}

	#home-row-1-right-text p {
		font-size: 21px;
		line-height: 33px;
	}

	#home-row-1-right a.btn {
	    padding: 4px 15px;
	    font-size: 20px;
	}

	#home-row-1-right-btns :first-child {
		margin-left: 5px;
	} 

	#home-row-1-right-btns :last-child {
		margin-left: 10px;
	}
}


@media screen and (max-width: 807px){

	#home-row-1-right-btns :first-child {
		margin-left: 0;
	} 

	#home-row-1-right-btns :last-child {
		margin-left: 5px;
	}

}



@media screen and (max-width: 767px){

	.nav {
		display: none !important;
	}

	#menuToggle {
	  display: block;
	}

	#under-nav-1 {
	    padding: 20px 40px 0 0;
	}

	#home-row-1 #home-row-1-right {
		background-position: bottom;
		height: 302px;
	}

	#home-row-1 #home-row-1-right h1 {
	    font-size: 5rem;
	    line-height: 68px;
	}

	#home-row-1-right-text {
	    margin: 12px 0 0 15px;
	}

	#home-row-1-right-btns :first-child {
		margin-left: 15px;
	} 

	#home-row-1-right-btns :last-child {
		margin-left: 15px;
	}

}


@media screen and (max-width: 655px){

	#home-row-1 #home-row-1-left { 
	    height: 420px;
	}

	#home-row-1 #home-row-1-right h1 {
	    font-size: 4rem;
	    line-height: 45px;
	}

	#home-row-1-right-text {
	    margin: 30px 0 0 15px;
	}

	#home-row-1-right-text p {
		font-size: 18px;
		line-height: 27px;
	}

	#home-row-1-right-btns {
	    bottom: 25px;
	}

}


@media screen and (max-width: 450px){

	#home-row-1 #home-row-1-left { 
	    height: 268px;
	}

	#home-row-1 #home-row-1-right h1 {
	    font-size: 3.5rem;
	}

	#home-row-1-right-text {
	    margin: 20px 0 0 15px;
	}

	#home-row-1-right-text p {
		line-height: 24px;
	}

}





